

@font-face {
    font-family: 'digital';
    src: url('digital-7.ttf'); /* put the font file in same folder */
}

body {
    background: #000;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.container {
    display: flex;
    gap: 60px;
}

.panel {
    text-align: center;
}



.btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    background: #111;
    border: 2px solid #39FF14;
    color: #39FF14;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    transition: 0.2s;
}

.btn:hover {
    background: #39FF14;
    color: #000;
}

/* Flash animation on score update */
.flash {
    transform: scale(1.12);
}

/* Reset blink */
.reset-blink {
    opacity: 0.2;
    transition: 0.3s;
}

/* Reset button */
#reset {
    margin-top: 40px;
    padding: 12px 30px;
    background: red;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

#reset:hover {
    background: #ff4d4d;
}
